<div class="star-rating">
  <div class="star" *ngFor="let _ of stars; let i = index"
    [ngClass]="{'active': i < numStars, 'partial': i === numStars && ratingFraction > 0}">
    <span *ngIf="i < numStars">★</span>
    <span *ngIf="i === numStars && ratingFraction > 0">
      <span class="half-yellow-half-black" [style.--rating-fraction]="ratingFraction * 100 + '%'">☆</span>
    </span>
    <span *ngIf="i > numStars">☆</span>
    <span *ngIf="i >= numStars && i < 5 && !( i < numStars || i === numStars && ratingFraction > 0 || i > numStars)">
      ☆
    </span>
  </div>
</div>