.bg-custom {
  background-color: #243444;
}
.text-teal-600 {
  color: #20c997;
}
.bg-teal-600 {
  background-color: #20c997;
}
.hover-bg-teal-700:hover {
  background-color: #198754;
}
.hover-text-teal-600:hover {
  color: #198754;
}

.button-common {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

.log {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

.button-common:hover {
  color: white;
  width: 100px;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  color: #ccc;
}
